:host {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

:host .login{
  margin: auto;
}

:host label {
  display: block;
  margin-bottom: .5rem;
}

:host input {
  margin-bottom: 1rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
  border-style: solid;
}